<%- include('partials/header') -%>
<h1><%= title %></h1>
<p><%= startingContent %></p>
<% contents.forEach((content) => { %>
  <h1><%= content.title %></h1>
  <p><%= content.body %></p>
<% }); %>
<%- include('partials/footer') -%>
